.container {
  text-align: center;
  align-items: center;
}

.text1 {
  color: blue;
}

.knapp1 {
  background-color: lightblue;
  color: blue;
  border-radius: 50%;
  font-size: 18px;
  padding: 10px 10px;
}

.knapp1:hover {
  font-size: 20px;
}
